body {
    background-image: url(img/fondo2.jpg);
}
.principal{
    z-index: initial;
}
.navbar{
    background-color: #EB3238 !important;
}
.navbar-nav {
    margin-left: auto !important; /* Fuerza el alineamiento a la derecha */
}
.nav-item{
    font-size: 20px;
}
.footer{
    background-color: #EB3238 !important;
}
*{
    font-family: kanit;
}
.btn-outline-primary{
    color: #EB3238;
    border-color: #EB3238;
}
.btn-outline-primary:hover{
    color:#ffffff;
    border-color: #ffffff;
    background-color: #000000fe;
}
.stylish-text-neon {
    font-size: 4rem; /* Tamaño del texto */
    color: #ffffff; /* Color del texto (negro) */
    font-weight: bold; /* Negrita */
    text-shadow: 
      0 0 5px #000000, /* Sombra blanca */
      0 0 10px #000000, /* Sombra en color #000000 */
      0 0 15px #000000, /* Sombra en color #000000 */
      0 0 20px #EB3238, /* Sombra en color #EB3238 */
      0 0 25px #EB3238, /* Sombra en color #EB3238 */
      0 0 30px #EB3238; /* Sombra en color #EB3238 */
    text-transform: uppercase; /* Mayúsculas */
    margin-top: 20px; /* Margen superior */
  }
.form-label{
    color: rgb(255, 255, 255);
}
.nav-item a{
    color: white;
}
.mb-4{
    font-family: kurale;
}
#btn_flotante {
    display: scroll;
    position: fixed;
    bottom: 10%;
    right: 0px;
    z-index: 999999;
    background: #EB3238 ;
    color: #000000;
    font-size: 30px;
    line-height: 27px;
    font-weight: bolder;
    border-radius: 15px 0 0 15px;
    padding: 20px 40px 20px 25px;
    box-shadow: 5px 5px 10px rgb(71, 71, 71, 0.5);
    text-decoration: none;
}
.principal{
    opacity: 0.9;
}